body {
  margin: 0;
  padding: 0;
}
/*?=====================================*/
/*?             header style
/*?=====================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px; 
  height: 100vh; 
  background-color: #333; 
  color: #fff;   
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  padding: 20px;
}

h1 {
  font-size: 35px;
  margin-bottom: 20px;
  font-family:  Helvetica,Arial, sans-serif;
}

/*?=====================================*/
/*?        Burger menu style
/*?=====================================*/
#burger-menu-wrapper {
display: flex;
align-items: center;
}

#burger-menu {
  margin-left: 10px;
  /* display: none; */
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.bar {
  width: 25px;
  height: 2px;
  background-color: #f5f5f5;
  margin: 3px 0;
  transition: transform 0.3s, opacity 0.5s;
}
.menu-open .bar:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.menu-open .bar:nth-child(2) {
  opacity: 0;
}

.menu-open .bar:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.menu-open #addPeoples,
.menu-open .gender-button {
  display: none;
}
/*?=====================================*/
/*?    Button style "Add 10 peoples"
/*?=====================================*/
#addPeoples {
  background: linear-gradient(180deg, #836729f7 9.16%, #5643CC 43.89%, #673FD7 64.72%); 
  color: #fff; 
  border: none;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(207, 207, 207, 0.2);
}

/*?=====================================*/
/*?       Gender button style 
/*?=====================================*/

.gender-button {
  background-color: #067eff1d;
  border: 1px solid #067eff;
  color: #ffffff;
  font-weight: normal;
  padding: 5px 8px;
  cursor: pointer;
  margin-right: 8px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(207, 207, 207, 0.2);
}

.gender-button.selected {
  background: linear-gradient(180deg, #836729f7 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  color: white;
  font-weight: bold;
}
/*?=====================================*/
/*?   user card list style "containner"
/*?=====================================*/
#card-list {
  margin-left: 17em;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

/*?=====================================*/
/*?        user card style
/*?=====================================*/
.user-card {
  background: linear-gradient(to bottom, #fbdc0087 0%, #9ea1a387 30%, #7408e787 30%, #54a6f887 100%);
  border: 1px solid #ddd;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 300px; 
  height: 400px; 
  position: relative;
  border-radius: 10px;
  display: flex; 
  flex-direction: column;
  justify-content: space-between; 
  align-items: center; 
}
.user-card  p {
  margin: 5px 0; 
}
.user-image{
  max-width: 100%;
  height: auto; 
  border-radius: 50%;
}

/*?=====================================*/
/*?        close button style
/*?=====================================*/
.close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 4px 8px;
  background-color: rgba(172, 172, 172, 0.2); 
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0% 34% 0% 50%;
  transition: background-color 0.3s, transform 0.2s;
}

.close-button:hover {
  color: rgba(208, 3, 188, 0.623);
  background-color: rgba(70, 70, 70, 0.632); 
  transform: scale(1.1); 
  border-color: rgba(0, 0, 0, 0.5); 
}


.close-button::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -20px;
  right: -10px;
  bottom: -20px;
}

/*!=====================================*/
/*!          responsive style
/*!=====================================*/
@media screen and (min-width: 700px) {
  #burger-menu {
    display: none;
  }
}
@media screen and (max-width: 700px) {

  #addPeoples, .gender-button {
  display: none;
}
.menu-open #addPeoples,
.menu-open .gender-button {
  display: flex;
  margin-bottom: 5px;
}

  header {
    width: 100%; 
    height: auto; 
    position: fixed; 
    z-index: 1;
    padding: 0px;
    box-shadow: 0 0 10px rgb(38, 38, 38);
  }
  
  h1 {
    font-size: 25px;
  }

  #card-list {
    position: relative;
    margin-top: 200px;
    margin-left: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    z-index: 0;
  }

  .user-card {
    width: 90%; /* Par exemple, la carte prendra 90% de la largeur de l'écran */
    height: auto; /* Pour que la hauteur s'ajuste automatiquement au contenu */
    margin: 10px auto;
  }
}